<h1>Carrito</h1>
<ul>
    {{#each products}}
        <li>
            <strong>{{this.product.title}}</strong> 
            <p>${{this.product.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <button onclick="removeFromCart('{{this.product._id}}', 1)">Eliminar 1</button>
            <button onclick="removeFromCart('{{this.product._id}}', {{this.quantity}})">Eliminar todo</button>
        </li>
    {{else}}
        <p>No hay productos en el carrito.</p>
    {{/each}}
</ul>

<div style="margin-top: 20px;">
  <a href="/products">Volver a inicio</a>
</div>

<script>
    async function removeFromCart(productId, quantity) {
        try {
            const response = await fetch(`/api/carts/{{cartId}}/products/${productId}?quantity=${quantity}`, {
                method: 'DELETE',
            });
            const data = await response.json();
            console.log('Producto eliminado del carrito:', data);
            location.reload();
        } catch (error) {
            console.error('Error:', error);
            alert('Error al eliminar el producto del carrito');
        }
    }
</script>